#Database
TYPEORM_CONNECTION=
TYPEORM_HOST=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_PORT=
TYPEORM_SYNCHRONIZE=(boolean)
TYPEORM_LOGGING=(boolean)
TYPEORM_ENTITIES=(compiled entities js files)

#Application
PORT=
